doctype html
html(lang='en')
  head
    title Keept
    link(rel='stylesheet', href='/stylesheets/theme.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    a(href='/')
        h1 Keept
    p Convenient note keeping for groups
    form(method='post' action='/workspace')
      button Generate group workspace