doctype html
html(lang='en')
  head
    title Keept
    link(rel='stylesheet', href='/stylesheets/theme.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    a(href='/')
        h1 Keept
    h2 Convenient note keeping for groups
    p Here's how it works:
    p Press button below to generate a workspace
    p Access or share your workspace with the unique link
    form(method='post' action='/workspace')
      button Try it!