doctype html
html(lang='en')
  head
    title Keept
    link(rel='stylesheet', href='/stylesheets/theme.css')
    link(rel='stylesheet', href='/stylesheets/workspace.css')
  body
    a(href='/')
        h1 Keept
    p Your unique address is
    input(type="text" id="urlField" readonly)
    each descriptions, note in note_data
        div(class='note')
            h2= note
            ul
                each desc in descriptions
                    li= desc
            input(type="text" onkeydown="newBullet(this)" placeholder="New bullet")
    input(type="text" onkeydown="newNote(this)" placeholder="New note subject" id='addSubject')

    script(src='/javascripts/workspace.js')